header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1.1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo {
    width: 143px;
    height: 61px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}
